body {
    background: #ccc;
    font-family: 'Roboto', sans-serif;
}

.task-app {
    background: white;
    width: 400px;
    margin: 30px auto;
    padding: 30px;
    box-shadow: 2px 2px 5px 1px #aaa;
}

.task-app h1 {
    margin-top: 0px;
    padding-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid #aaa;
}

.task-app ul {
    padding: 0;
    list-style-type: none;
    font-size: 1.2em;
}

.task-app li {
    background: #eee;
    padding: 15px;
    margin-top: 10px;
}

.task-title {
    cursor: pointer;
    padding-left: 15px;
    display: inline-block;
    max-width: 300px;
}

.task button {
    float: right;
}

.done .task-title {
    color: green;
    text-decoration: line-through;
}

.hidden {
    display: none;
}

.add-task {
    border: 1px solid #000;
}

.add-task input, .add-task button {
    border: none;
    padding: 0;
    height: 40px;
    background: white;
}

.add-task input {
    width: 303px;
    padding-left: 15px;
    font-size: 1.1em;
    font-weight: 300;
}

.add-task button {
    float: right;
    width: 80px;
    font-size: 1.2em;
    cursor: pointer;
    background: #eee;
}

.add-task button:hover {
    background: #228cfc;
    color: white;
}
